@font-face {
  font-family: "Iceland";
  src: url("./assets/fonts/Iceland/Iceland-Regular.ttf"); }

@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura/Jura-Regular.ttf");
  src: url("./assets/fonts/Jura/Jura-SemiBold.ttf"); }

.players form .input--text {
  display: block;
  margin: 0.5em 0 1em;
  box-sizing: border-box;
  padding: 0.33333em;
  width: 100%;
  font-family: "Jura";
  font-size: 1.5em; }

.players .players__heading, .team .team__heading {
  margin-bottom: 0;
  color: #FFF;
  font-size: 2.25em; }

body {
  min-height: 100vh;
  background-image: url("./assets/images/app-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  padding: 1.5em; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

p {
  font-family: "Jura"; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }

h1, h2 {
  font-family: "Iceland";
  text-align: center; }

.btn {
  display: block;
  box-sizing: border-box;
  margin: 0.5em 0 2em;
  padding: 1em 0.25em;
  width: 100%;
  background-color: #FFF;
  border: none;
  box-shadow: 1.5px 3px 3px #1B1C20;
  color: #1B1C20;
  font-family: "Jura";
  font-size: 1em;
  text-align: center; }
  .btn:active {
    position: relative;
    top: 3px; }
  .btn:disabled {
    background-color: #CDCDCD;
    opacity: 0.4;
    color: #1B1C20; }

.btn--progress {
  display: block;
  box-sizing: border-box;
  margin: 0.5em 0 2em;
  padding: 1em 0.25em;
  width: 100%;
  background-color: #F2D72D;
  border: none;
  box-shadow: 1.5px 3px 3px #1B1C20;
  color: #1B1C20;
  font-family: "Jura";
  font-size: 1em;
  text-align: center; }

.header {
  padding: 1em; }
  .header .header__main-heading {
    margin: 0;
    color: #FFF;
    font-size: 3em; }
    .header .header__main-heading span {
      color: #F2D72D; }

.landing {
  margin-top: 2.5em;
  padding: 1em; }
  .landing .landing__heading {
    color: #FFF;
    font-size: 1.5em; }
  .landing .landing__text {
    margin-bottom: 0;
    color: #FFF;
    font-family: "Jura";
    text-align: center; }

.players .players__info {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #1B1C20;
  color: #FF3000;
  text-align: center; }

.players form .skill-buttons .skill-buttons__text {
  margin-bottom: 0;
  color: #FFF;
  font-family: "Iceland";
  font-size: 1.5em;
  text-align: center; }

.players form .input--radio {
  display: none; }
  .players form .input--radio:checked + .label-radio {
    background-color: #CDCDCD; }

.players form .label-radio {
  display: inline-block;
  box-sizing: border-box;
  margin: 0.5em 0 1em;
  padding: 1em;
  width: 33.3%;
  font-family: "Jura";
  text-align: center;
  background-color: #FFF; }

.player-list .player-list__item {
  margin: 0.5em 0;
  padding: 1em;
  background-color: #FFF;
  font-family: "Jura"; }
  .player-list .player-list__item .player-ratings__star {
    display: inline-block;
    height: 15px;
    margin-top: 0.25em;
    width: 15px;
    background-image: url("./assets/images/icons/star.png");
    background-size: cover; }
  .player-list .player-list__item .player-list__item__button--edit {
    text-decoration: underline; }
  .player-list .player-list__item .player-list__item__button--delete {
    float: right;
    text-decoration: underline; }

.team .team__heading {
  margin-top: 0; }

.team .team__button--edit {
  display: block;
  margin-top: 2em;
  width: 100%;
  color: #FFF;
  text-align: center; }
