@font-face {
  font-family: "Cabin";
  src: url("./assets/fonts/Cabin/Cabin-Regular.ttf") format("truetype");
  src: url("./assets/fonts/Cabin/Cabin-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Cabin/Cabin-Regular.woff2") format("woff2"), url("./assets/fonts/Cabin/Cabin-Regular.woff") format("woff"); }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

p {
  font-family: "Cabin", "Courier", sans-serif; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer; }

h1, h2 {
  font-family: "Cabin", "Courier", serif;
  text-align: center; }

.players form .input--text, .team form .input--text {
  display: block;
  margin: 0.4em 0 1em;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.33333em;
  width: 100%;
  font-family: "Cabin", "Courier", sans-serif;
  font-size: 1.5em; }

.players .players__heading, .players__list-section .players__heading, .team .team__heading, .team .team__color-slider .team__color__heading {
  margin-bottom: 0.5em;
  color: #FFF;
  font-size: 1.5em;
  letter-spacing: 0.1em; }

.players__list-section .player-list .player-list__item .ratings .ratings__star, .team .ratings .ratings__star {
  display: inline-block;
  height: 15px;
  margin-top: 0.25em;
  width: 15px;
  background-image: url("./assets/images/icons/star.png");
  background-size: cover; }

.players .players__add-section .players__info, .players__list-section .players__info, .team .team__info {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #C46A11;
  color: #FFF;
  text-align: center; }

.btn, .btn--progress, .btn--danger, .btn--action, .players__list-section .player-list .player-list__item {
  box-shadow: 1.5px 3px 3px #1B1C20; }

.team .team__color-slider .team_color_slider-container .team__color__range-input {
  display: block;
  width: 65%;
  background-color: transparent;
  -webkit-appearance: none; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input:hover {
    cursor: pointer; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #1B1C20;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #1B1C20; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #1B1C20;
    border: 1px solid #1B1C20;
    height: 36px;
    width: 20px;
    border-radius: 5px;
    background: #F2D72D;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-moz-range-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #1B1C20;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #1B1C20; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-moz-range-thumb {
    box-shadow: 1px 1px 1px #1B1C20;
    border: 1px solid #1B1C20;
    height: 36px;
    width: 20px;
    border-radius: 5px;
    background: #F2D72D;
    cursor: pointer; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-ms-track {
    width: 100%;
    height: 24px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-ms-fill-lower {
    background: #FFF;
    border: 1px solid #1B1C20;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #1B1C20; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-ms-fill-upper {
    background: #FFF;
    border: 1px solid #1B1C20;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #1B1C20; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #1B1C20;
    border: 1px solid #1B1C20;
    height: 36px;
    width: 20px;
    border-radius: 5px;
    background: #F2D72D;
    cursor: pointer; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input:focus::-ms-fill-lower {
    background: #FFF; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input:focus::-ms-fill-upper {
    background: #FFF; }
  .team .team__color-slider .team_color_slider-container .team__color__range-input:focus::-webkit-slider-runnable-track {
    background: #FFF; }

.btn {
  display: block;
  box-sizing: border-box;
  margin: 0.5em 0 2em;
  padding: 1em 0.25em;
  width: 100%;
  background-color: #FFF;
  border: none;
  border-radius: 5px;
  color: #1B1C20;
  font-family: "Cabin", "Courier", sans-serif;
  font-size: 1.125em;
  text-align: center; }
  .btn:active {
    position: relative;
    top: 3px; }
  .btn:disabled {
    background-color: #CDCDCD;
    opacity: 0.4;
    color: #1B1C20; }
  .btn[type="submit"] {
    -webkit-appearance: none; }

.btn--progress {
  display: block;
  box-sizing: border-box;
  margin: 0.5em 0 2em;
  padding: 1em 0.25em;
  width: 100%;
  background-color: #F2D72D;
  border: none;
  border-radius: 5px;
  color: #1B1C20;
  font-family: "Cabin", "Courier", sans-serif;
  font-size: 1.125em;
  text-align: center; }

.btn--danger {
  display: block;
  box-sizing: border-box;
  margin: 0.5em 0 2em;
  padding: 1em 0.25em;
  width: 100%;
  background-color: #9F1E00;
  border: none;
  border-radius: 5px;
  color: #1B1C20;
  font-family: "Cabin", "Courier", sans-serif;
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 1em;
  margin-left: auto;
  padding: 0.5em;
  width: auto;
  color: #FFF; }

.btn--action {
  display: block;
  box-sizing: border-box;
  margin: 0.5em 0 2em;
  padding: 1em 0.25em;
  width: 100%;
  background-color: #9F1E00;
  border: none;
  border-radius: 5px;
  color: #1B1C20;
  font-family: "Cabin", "Courier", sans-serif;
  font-size: 1.125em;
  text-align: center;
  background-color: #287326;
  color: #FFF; }

body {
  min-height: 100vh;
  background-image: linear-gradient(#1B1C20, transparent 150%), url("./assets/images/app-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  padding: 1.5em; }

.header {
  padding: 2em 1em; }
  .header .header__main-heading {
    margin: 0;
    color: #FFF;
    font-size: 4em;
    letter-spacing: 0.1em; }
    .header .header__main-heading span {
      color: #F2D72D; }

.landing {
  box-sizing: border-box;
  margin-top: 20vh;
  padding: 1em; }
  .landing .landing__heading {
    color: #FFF;
    font-size: 1.5em; }
  .landing .landing__text {
    margin-bottom: 0;
    color: #FFF;
    font-family: "Cabin", "Courier", sans-serif;
    text-align: center; }

.players .players__add-section .players__info--lg {
  display: none; }

.players form .rating-buttons .rating-buttons__text {
  margin-bottom: 0;
  color: #FFF;
  font-family: "Cabin", "Courier", serif;
  font-size: 1.5em;
  text-align: center; }

.players form .rating-buttons .div__input--radio {
  display: inline-block;
  width: 33.3%; }
  .players form .rating-buttons .div__input--radio:first-of-type .label--radio {
    border-radius: 5px 0 0 5px; }
  .players form .rating-buttons .div__input--radio:last-of-type .label--radio {
    border-radius: 0 5px 5px 0; }
  .players form .rating-buttons .div__input--radio .input--radio {
    display: none; }
    .players form .rating-buttons .div__input--radio .input--radio:checked + .label--radio {
      background-color: #CDCDCD; }
  .players form .rating-buttons .div__input--radio .label--radio {
    display: block;
    box-sizing: border-box;
    margin: 0.5em 0 1em;
    padding: 1em;
    font-family: "Cabin", "Courier", sans-serif;
    text-align: center;
    background-color: #FFF; }

.players__list-section .player-list {
  margin-top: 0; }
  .players__list-section .player-list .player-list__item {
    position: relative;
    margin: 0.5em 0;
    padding: 0.66667em;
    background-color: #FFF;
    border-radius: 5px;
    font-family: "Cabin", "Courier", sans-serif;
    font-size: 1.25em; }
    .players__list-section .player-list .player-list__item .player-list__item__button--delete {
      position: absolute;
      right: 1em;
      top: calc(50% - 10px);
      height: 20px;
      width: 20px;
      background-image: url("./assets/images/icons/delete.png");
      background-size: 100% 100%;
      background-repeat: no-repeat; }

.team .team__heading {
  margin-top: 0;
  margin-bottom: 0.125em;
  font-size: 3.375em; }

.team .team__button--edit {
  display: block;
  margin: 0 0 2em;
  width: 100%;
  color: #FFF;
  text-align: center; }
  .team .team__button--edit .team__button--edit__icon {
    position: relative;
    top: 10px;
    display: inline-block;
    height: 40px;
    margin-left: 5px;
    width: 40px;
    background-image: url("./assets/images/icons/edit.png");
    background-size: 90%;
    background-repeat: no-repeat; }

.team .ratings {
  text-align: center; }
  .team .ratings .ratings__text {
    color: #FFF;
    font-family: "Cabin", "Courier", sans-serif;
    font-size: 1.25em; }

.team .team__formation .pitch {
  position: relative;
  height: 33.3vh;
  margin: 1em auto;
  max-width: 450px;
  min-height: 300px;
  background-color: rgba(26, 77, 26, 0.8);
  background-image: url("./assets/images/pitch.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.team .team__formation .pitch__player {
  position: absolute; }
  .team .team__formation .pitch__player .pitch__player__name {
    display: block;
    width: 100px;
    color: #FFF;
    font-family: "Cabin", "Courier", sans-serif;
    text-align: center; }
  .team .team__formation .pitch__player .pitch__player__kit {
    height: 20px;
    margin: 0 auto 0.25em;
    width: 20px;
    border-radius: 50%; }

.team .team__formation .pitch__player-0 {
  top: 5%;
  left: calc(50% - 50px); }

.team .team__formation .pitch__player-1 {
  top: calc(35% - 10px);
  left: calc(50% - 50px); }

.team .team__formation .pitch__player-2 {
  bottom: 20%;
  left: calc(50% - 50px); }

.team .team__formation .pitch__player-3 {
  top: calc(50% - 10px);
  left: 0%; }

.team .team__formation .pitch__player-4 {
  top: calc(50% - 10px);
  right: 0%; }

.team .team__color-slider {
  padding: 0 2em; }
  .team .team__color-slider .team_color_slider-container {
    display: flex;
    justify-content: space-between; }
    .team .team__color-slider .team_color_slider-container .team__color__preview {
      border: 5px solid #FFF;
      box-sizing: border-box;
      height: 50px;
      margin-right: 3%;
      width: 25%; }
  .team .team__color-slider .btn {
    margin: 1em auto 2em;
    min-width: 150px;
    width: 30%; }

.footer-nav {
  display: flex; }
  .footer-nav .footer-nav__link {
    display: block;
    flex: 1; }
  .footer-nav > .footer-nav__link:first-child {
    margin-right: 1em;
    flex: 1; }
  .footer-nav .footer-nav-link_container {
    flex: 1; }

.page-not-found .page-not-found__message {
  color: #FFF;
  font-size: 1.25em;
  text-align: center; }

.page-not-found .page-not-found__link {
  color: #F2D72D;
  text-decoration: underline; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 10; }
  .modal .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #1B1C20;
    opacity: 0.95;
    z-index: 15; }
  .modal .modal__content {
    position: absolute;
    top: calc(50% - 25px);
    left: 10%;
    width: 80%;
    z-index: 20; }
    .modal .modal__content .modal__message {
      color: #FFF;
      font-size: 1.25em; }

@media (min-width: 480px) {
  .container {
    margin: 0 auto;
    max-width: 60%; } }

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 4em 0;
    width: 70%; }
  .header .header__main-heading {
    font-size: 4em; }
  .player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .player-list .player-list__item {
      flex: 1 0 45%;
      box-sizing: border-box; }
      .player-list .player-list__item:nth-of-type(odd) {
        margin: 0.5em 1em 0.5em 0; }
      .player-list .player-list__item:last-of-type {
        margin: 0.5em 0 0.5em 0; }
  .team .team__formation .pitch .pitch__player-3 {
    left: 10%; }
  .team .team__formation .pitch .pitch__player-4 {
    right: 10%; }
  .landing {
    margin-top: 30vh; }
    .landing .landing__heading {
      font-size: 2.25em; }
  .modal .modal__content {
    left: 20%;
    width: 60%; } }

@media (min-width: 1024px) and (orientation: landscape) {
  .landing {
    margin-top: 5vh; } }

@media (min-width: 992px) {
  .container {
    padding-top: 8em;
    width: 60%; }
  .header {
    padding-top: 0; }
    .header .header__main-heading {
      font-size: 5em; }
  .modal .modal__content {
    left: 25%;
    width: 50%; } }

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
    width: 70%; }
  .header {
    margin-top: 0; }
  .landing {
    margin-left: auto;
    margin-right: auto;
    width: 75%; }
    .landing .landing__heading {
      font-size: 3em; }
    .landing .landing__text {
      margin-bottom: 0; }
  .players {
    display: flex;
    justify-content: space-between;
    overflow: auto; }
    .players .container-players__info--sm-md {
      display: none; }
    .players .players__add-section {
      flex: 1;
      box-sizing: border-box;
      padding: 0 2.5em 2em 0; }
      .players .players__add-section .players__info--lg {
        display: block;
        padding: 0.5em;
        background-color: #C46A11;
        color: #FFF;
        text-align: center; }
    .players .players__list-section {
      flex: 1;
      box-sizing: border-box;
      padding: 0 0 2em 2.5em; }
      .players .players__list-section .player-list {
        align-items: flex-start;
        align-content: flex-start;
        padding: 0; }
        .players .players__list-section .player-list .player-list__item:first-child {
          margin-top: 0; }
        .players .players__list-section .player-list .player-list__item:nth-child(2) {
          margin-top: 0; }
  .team {
    display: flex;
    justify-content: space-between; }
    .team .team-left-col-lg {
      flex: 1;
      padding: 0 2.5em 0 0; }
    .team .team-right-col-lg {
      flex: 1;
      padding: 0 0 0 2.5em; }
    .team .team__color-slider {
      padding-right: 0;
      padding-left: 0; }
      .team .team__color-slider .team__color__heading {
        margin: 1em 0; }
  .footer-nav {
    padding: 0; }
    .footer-nav .footer-nav__link:first-child {
      margin-right: 4em; }
  .modal .modal__content {
    left: 33.3%;
    width: 33.3%; } }

@media (min-width: 1366px) and (orientation: landscape) {
  .header .header__main-heading {
    font-size: 5em; }
  .container {
    padding-top: 10vh; }
  .landing {
    margin-top: 20vh; } }
