@font-face {
  font-family: "Iceland";
  src: url("./assets/fonts/Iceland/Iceland-Regular.ttf"); }

.header {
  padding: 1em; }
  .header .header__main-heading {
    margin: 0;
    font-family: "Iceland"; }
