// Body styling 
body {
	min-height: 100vh;

	background-image: linear-gradient($black, transparent 150%),
		url("./assets/images/app-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

// Container styling
.container {
	padding: $padding * 1.5; 
}

// Header styling
.header {
	padding: $padding * 2 $padding;

	.header__main-heading {
		margin: 0; 
 
		color: $primary;
		font-size: 4em;
		letter-spacing: .1em;

		span {
			color: $secondary;
		}
	}	
}

// landing styling

.landing {
	box-sizing: border-box;
	margin-top: 20vh;
	padding: $padding;

	.landing__heading {
		color: $primary; 
		font-size: $sub-heading;  
	}
	.landing__text {
		margin-bottom: 0;

		color: $primary;
		font-family: $sans-font;
		text-align: center;
	}
}

// Add player section

.players {
	// Add players form
	.players__add-section {
		.players__info {
			margin-top: $margin;
			padding: $padding / 2;

			background-color: $warning;

			color: $primary;
			text-align: center;
		}
		.players__info--lg {
			display: none;
		}
	}
	.players__heading {
		@extend %h2;
	}

	form {
		.input--text {
			@extend %input-text;
		}
		.rating-buttons {
			.rating-buttons__text {
				margin-bottom: 0;

				color: $primary;
				font-family: $main-header-font;
				font-size: 1.5em;
				text-align: center;
			}
			.div__input--radio {
				display: inline-block;

				width: 33.3%;
			}
		}
		.input--radio {
			display: none;
			
			&:checked + .label--radio {
				background-color: $gray;
			}			
		}
		//TODO border radius
		.label--radio {
			display: block;

			box-sizing: border-box;
			margin: $margin 0 $margin * 2;
			padding: $padding;

			font-family: $sans-font;
			text-align: center;

			background-color: $primary;
		}
	}
}

// Players List

//TODO Button styling 
//TODO CLASS NAMING?
// TODO rename ratings and make a mixin/placeholder
.players__list-section {
	.players__heading {
		@extend %h2;
	}

	.players__info {
		margin-top: $margin;
		padding: $padding / 2;

		background-color: $warning;

		color: $primary;
		text-align: center;
	}
	.player-list {
		margin-top: 0;
		.player-list__item {
			position: relative;

			margin: $margin 0;
			padding: $padding / 1.5;

			background-color: $primary;
			border-radius: 5px;
			box-shadow: 1.5px 3px 3px $black;

			font-family: $sans-font;
			font-size: 1.25em;
			.ratings {
				.ratings__star {
					display: inline-block;
					height: 15px;
					margin-top: $margin / 2;
					width: 15px;

					background-image: url("./assets/images/icons/star.png");
					background-size: cover;
				}
			}
			.player-list__item__button--delete {
				position: absolute;
				right: $padding;
				top: calc(50% - 10px);

				height: 20px;
				width: 20px;

				background-image: url("./assets/images/icons/delete.png");
				// Prevents iPad and iPhone image clip bug
				background-size: 90%; 
				background-repeat: no-repeat;
			}
		}
	}
}

// Team section

.team {
	.team__heading {
		@extend %h2;
		margin-top: 0;
		margin-bottom: $margin / 4;

		font-size: 3.5em;
	}
	.team__button--edit {
		display: block;

		margin: 0 0 $margin * 4;
		width: 100%;

		color: $primary;
		text-align: center;

		.team__button--edit__icon {
			display: inline-block;

			height: 25px;
			margin-left: 5px;
			width: 25px;

			background-image: url("./assets/images/icons/edit.png");
			// Prevents iPad and iPhone image clip bug
			background-size: 90%; 
			background-repeat: no-repeat;
		}
	}
	.players__info {
		margin-top: $margin;
		padding: $padding / 2;

		background-color: $warning;

		color: $primary;
		text-align: center;
	}
	// TODO RATINGS PLACEHOLDER
	.ratings {
		text-align: center;
		.ratings__text {
			color: $primary;
			font-family: $sans-font;
			font-size: 1em;
		}
		.ratings__star {
			display: inline-block;
			height: 15px;
			margin-top: $margin / 2;
			width: 15px;

			background-image: url("./assets/images/icons/star.png");
			background-size: cover;
		}
	}
	// TODO style formation better for sm devices
	.team__formation {
		.pitch {
			position: relative;

			// border: 3px solid $primary;
			height: 33.3vh;
			margin: $margin * 2 auto;
			max-width: 450px;
			min-height: 300px;
 
			background-color: $pitch;
			background-image: url("./assets/images/pitch.png");
		 	// fixes pitch bug
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.pitch__player {
			position: absolute;
			.pitch__player__name {
				display: block;

				width: 100px;

				color: $primary;
				font-family: $sans-font;
				text-align: center;
			}
			.pitch__player__kit {
				height: 20px;
				margin: 0 auto $margin / 2;
				width: 20px;

				border-radius: 50%;
			}
		}
		.pitch__player-0 {
			top: 	5%;
			left: calc(50% - 50px);
		}
		.pitch__player-1 {
			top: 	calc(35% - 10px);
			left: calc(50% - 50px);
		}
		.pitch__player-2 {
			bottom: 20%;
			left: calc(50% - 50px);
		}
		.pitch__player-3 {
			top: 	calc(50% - 10px);
			left: 0%;
		}
		.pitch__player-4 {
			top: 	calc(50% - 10px);
			right: 0%;
		}
	}
	form {
		.input--text {
			@extend %input-text;
		}
	}
	.team__color-slider {
		padding: 0 $padding * 2;
		.team__color__heading {
			@extend %h2;
		}
		.team_color_slider-container {
			display: flex;
			justify-content: space-between; 
			.team__color__preview {
				border: 2px solid $primary;
				box-sizing: border-box;
				height: 50px;
				margin-right: 3%;
				width: 25%;
			}
			.team__color__range-input {
				@extend %slider; 
			}
		}
		.btn {
			margin: $margin * 2 auto $margin * 4;
			min-width: 150px; 
			width: 30%;
		}
	}
}


// Navigation

// Footer

.footer-nav {
	display: flex;
	justify-content: space-between;

	.footer-nav__link:first-child {
		margin-right: $margin * 2;
	}
}

.page-not-found {
	.page-not-found__message {
		color: $primary;	
		font-size: 1.25em;
		text-align: center;
	}
	.page-not-found__link {
		color: $secondary;
		text-decoration: underline;
	}
}

// Modal
// TODO SET MAX WIDTH

.modal {
	position: fixed;
	top: 0;
	left: 0;

	min-height: 100vh;
	min-width: 100vw;

	z-index: 10;

	.modal__overlay {
		position: absolute;
		top: 0;
		left: 0;

		min-height: 100vh;
		min-width: 100vw;

		background-color: $black;
		opacity: 0.95;

		z-index: 15;
	}

	.modal__content {
		position: absolute;
		top: calc(50% - 25px);
		left: 10%;

		width: 80%;
		z-index: 20;

		.modal__message {
			color: $primary;
			font-size: 1.25em;
		}
	}
}
