// Body styling 
body {
  margin: 0;
	min-height: 100vh;
  padding: 0;
	
	@include linear-gradient-img($black, $black-opaque, 125%, "./assets/images/app-bg@0-468px.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

// Container styling
.container {
	padding: $padding * 1.5; 
}

// Header styling
.header {
	padding: $padding * 2 $padding;

	.header__main-heading {
		margin: 0; 
 
		color: $primary;
		font-size: $main-heading;
		letter-spacing: $letter-spacing;
		text-shadow: $text-shadow;

		span {
			color: $secondary;
		}
	}	
}

// landing styling

.landing {
	@include box-sizing(border-box);
	margin-top: $landing-margin;
	padding: $padding;

	.landing__heading {
		color: $primary; 
		font-size: $sub-heading;  

		text-shadow: $text-shadow;
	}
}

// Add player section

.players {
	// Add players form
	.players__add-section {
		.players__info {
			@extend %info;
		}
		.players__info--lg {
			display: none;
		}
	}
	.players__heading {
		@extend %h2;
	}

	form {
		.input--text {
			@extend %input-text;
			&:focus {
				border: 3px solid $black;
				outline: none;
			}
		}
		.rating-buttons {
			.rating-buttons__text {
				margin-bottom: 0;

				color: $primary;
				font-family: $main-header-font;
				font-size: $input-font-size;
				text-align: center;
			}
			.div__input--radio {
				display: inline-block;

				width: 33.3%;

				&:first-of-type .label--radio {
					border-radius: $border-radius 0 0 $border-radius;
				}
				&:last-of-type .label--radio {
					border-radius: 0 $border-radius $border-radius 0;
				}
				.input--radio {
					display: none;
					
					&:checked + .label--radio {
						background-color: $gray;
					}			
				}
				.label--radio {
					display: block;

					@include box-sizing(border-box);
					margin: $margin 0 $margin * 2;
					padding: $padding;

					background-color: $primary;

					font-family: $sans-font;
					text-align: center;
				}
			}
		}
	}
}

// Players List
.players__list-section {
	.players__heading {
		@extend %h2;
	}

	.players__info {
		@extend %info;
	}
	.player-list {
		margin-top: 0;
		.player-list__item {
			position: relative;

			margin: $margin 0;
			padding: $padding / 1.5;

			background-color: $primary;
			border-radius: $border-radius;
			@extend %box-shadow;

			font-family: $sans-font;
			font-size: $sans-font-size;
			.ratings {
				.ratings__star {
					@extend %star;
				}
			}
			.player-list__item__button--delete {
				position: absolute;
				right: $padding;
				top: calc(50% - 10px);

				height: 20px;
				width: 20px;

				background-image: url("./assets/images/icons/delete.png");
				// Prevents iPad and iPhone image clip bug
				background-size: 100% 100%; 
				background-repeat: no-repeat;
			}
		}
	}
}

// Team section

.team {
	.team__heading {
		@extend %h2;
		margin-top: 0;
		margin-bottom: $margin / 4;

		font-size: $sub-heading * 2.25;
	}
	.team__button--edit {
		display: block;

		margin: 0 0 $margin * 4;
		width: 100%;

		color: $primary;
		text-align: center;

		.team__button--edit__icon {
			position: relative;
			top: 10px;

			display: inline-block;

			height: 40px;
			margin-left: 5px;
			width: 40px;

			background-image: url("./assets/images/icons/edit.png");
			// Prevents iPad and iPhone image clip bug
			background-size: 90%; 
			background-repeat: no-repeat;
		}
	}
	.team__info {
		@extend %info;
	}
	.ratings {
		text-align: center;
		.ratings__text {
			color: $primary;
			font-family: $sans-font;
			font-size: $sans-font-size;
		}
		.ratings__star {
			@extend %star;
		}
	}
	.team__formation {
		.pitch {
			position: relative;

			height: 33.3vh;
			margin: $margin * 2 0;
			min-height: 300px;
 
			background-color: $pitch;
			background-image: url("./assets/images/pitch.png");
		 	// fixes pitch bug
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		.pitch__player {
			position: absolute;
			.pitch__player__name {
				display: block;

				width: 100px;

				color: $primary;
				font-family: $sans-font;
				text-align: center;
			}
			.pitch__player__kit {
				border: 3px solid $black;
				height: 20px;
				margin: 0 auto $margin / 2;
				width: 20px;

				border-radius: 50%;

				@include box-sizing(border-box);
			}
		}
		.pitch__player-0 {
			top: 	5%;
			left: calc(50% - 50px);
		}
		.pitch__player-1 {
			top: 	calc(35% - 10px);
			left: calc(50% - 50px);
		}
		.pitch__player-2 {
			bottom: 20%;
			left: calc(50% - 50px);
		}
		.pitch__player-3 {
			top: 	calc(50% - 10px);
			left: 0%;
		}
		.pitch__player-4 {
			top: 	calc(50% - 10px);
			right: 0%;
		}
	}
	form {
		.input--text {
			@extend %input-text;
		}
	}
	.team__color-slider {
		padding: 0 $padding * 2;
		.team__color__heading {
			@extend %h2;
		}
		.team_color_slider-container {
			@include flex-display(flex);
			@include justify-content(space-between);

			.team__color__preview {
				border: 5px solid $primary;
				@include box-sizing(border-box);
				height: 50px;
				margin-right: 3%;
				width: 25%;
			}
			.team__color__range-input {
				@extend %slider; 
				&:focus {
					outline: none;
				}
			}
		}
		.btn {
			margin: $margin * 2 auto $margin * 4;
			min-width: 150px; 
			width: 30%;
		}
	}
}


// Navigation

// Footer

.footer-nav {
	@include flex-display(flex);

	.footer-nav__link {
		display: block;
		@include short-flex(1);
	}
	& > .footer-nav__link:first-child {
		margin-right: $margin * 2;
		@include short-flex(1);
	}
	.footer-nav-link_container {
		@include short-flex(1);
	}
}

.page-not-found {
	.page-not-found__message {
		color: $primary;	
		font-size: $sans-font-size;
		text-align: center;
	}
	.page-not-found__link {
		color: $secondary;
		text-decoration: underline;
	}
}

// Modal

//Used an overlay so that the content of the modal isn't opaque, which would be the case if applying opacity directly to .modal
.modal {
	position: fixed;
	top: 0;
	left: 0;

	//min used to prevent cropping on screen resizing
	min-height: 100vh;
	min-width: 100vw;

	z-index: 10;

	.modal__overlay {
		position: absolute;
		top: 0;
		left: 0;

		min-height: 100vh;
		min-width: 100vw;

		background-color: $black;
		opacity: 0.95;

		z-index: 15;
	}

	.modal__content {
		position: absolute;
		top: calc(50% - 25px);
		left: 10%;

		width: 80%;
		z-index: 20;

		.modal__message {
			color: $primary;
			font-size: $sans-font-size;
		}
	}
}
