@media (min-width: 1200px) {

	.container {
		max-width: 800px;
		width: 70%;
	}

	.header {
		margin-top: 0;
	}
	.landing {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		.landing__heading {
			font-size: $sub-heading * 2;
		}
		.landing__text {
			margin-bottom: 0;
		}
	}

	.players {
		display: flex;
		justify-content: space-between;
		overflow: auto;
		.container-players__info--sm-md {
			display: none;
		}
		.players__add-section {
			flex: 1;
			box-sizing: border-box;
			padding: 0 $padding * 2.5 $padding * 2 0;

			.players__info--lg {
				display: block;

				padding: $padding / 2;

				background-color: $warning;

				color: $primary;
				text-align: center;
			}
		}
		.players__list-section {
			flex: 1;

			box-sizing: border-box;
			padding: 0 0 $padding * 2 $padding * 2.5;  

			.player-list {
				align-items: flex-start;
				align-content: flex-start;

				padding: 0;

				.player-list__item:first-child {
					margin-top: 0;
				}
				.player-list__item:nth-child(2) {
					margin-top: 0;
				}
			}
		}
	}

	.team {
		display: flex;
		justify-content: space-between;
		.team-left-col-lg {
			flex: 1;	

			padding: 0 $padding * 2.5 0 0;
		}
		.team-right-col-lg {
			flex: 1;	

			padding: 0 0 0 $padding * 2.5;
		}
		.team__color-slider {
			padding-right: 0;
			padding-left: 0;

			.team__color__heading {
				margin: $margin * 2 0;
			}
		}
	}

	.footer-nav {
		padding: 0;
		.footer-nav__link:first-child {
			margin-right: $margin * 8;
		}
	}

	.modal {
		.modal__content {
			left: 33.3%;
			width: 33.3%;
		}
	}
}
