@media (min-width: 1366px) and (orientation: landscape) {

	.header {
		.header__main-heading {
			font-size: $main-heading * 1.25;
		}	
	}

	.container {
		padding-top: $landing-margin / 2; 
	}
	.landing {
		margin-top: $landing-margin; 
	}	
}
 