@media (min-width: 1366px) and (orientation: landscape) {

	.header {
		.header__main-heading {
			font-size: 5em;
		}	
	}

	.container {
		padding-top: 15vh; 
	}
	.landing {
		margin-top: 20vh;
	}	
}
 