@media (min-width: 768px) { 

	.container {
		margin: 0 auto;
		padding: $padding * 4 0;
		width: 70%;
	} 

	.header {
		.header__main-heading {
			font-size: $main-heading;
		}	
	}

	.player-list {
		@include flex-display(flex);
		@include justify-content(space-between);
		@include flex-wrap(wrap);
		.player-list__item {
			//No placeholder as 1 instance and specific
			-webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
      flex: 1 0 45%;	

			@include box-sizing(border-box);
			// Maintain a margin right for all odd players to keep space on player list
			&:nth-of-type(odd) {
				margin: $margin $margin * 2 $margin 0; 
			}
			// Last item (if odd) should not have margin right and take full width
			&:last-of-type() {
				margin: $margin 0 $margin 0; 
			}
		}
	}

	.team {
		.team__formation {
			.pitch {
				.pitch__player-3 {
					left: 10%;
				}
				.pitch__player-4 {
					right: 10%;
				}
			}
		}
	}

	.landing {
		margin-top: $landing-margin * 1.5;
		.landing__heading {
			font-size: $sub-heading * 1.5;
		}
		.btn {
			margin: 0 auto;
			max-width: 430px;
		}
	}

	.modal {
		.modal__content {
			left: 20%;
			width: 60%;
		}
	}
}