@media (min-width:992px) {

	body {
		background-image: linear-gradient($black, transparent 150%),
		url("./assets/images/app-bg@992-1366px.jpg");
	}
	
	.container {	
		padding-top: $padding * 8;
		width: 60%;
	}

	.header {
		padding-top: 0;

		.header__main-heading {
			font-size: $main-heading * 1.25;
		}	
	}

	.modal {
		.modal__content {
			left: 25%;
			width: 50%;
		}
	}

}