@media (min-width:992px) {

	body {
		@include linear-gradient-img($black, $black-opaque, 150%, "./assets/images/app-bg@992-1366px.jpg");
	}

	.container {	
		padding-top: $padding * 8;
		max-width: 1000px;
		width: 75%;
	}

	.header {
		padding-top: 0;

		.header__main-heading {
			font-size: $main-heading * 1.25;
		}	
	}

	.team {
		.team__formation {
			.pitch {
				max-width: 460px;
			}
		}
	}

	.modal {
		.modal__content {
			left: 25%;
			width: 50%;
		}
	}

}