@media (min-width:992px) {
	.container {	
		padding-top: $padding * 8;
		width: 60%;
	}

	.header {
		padding-top: 0;

		.header__main-heading {
			font-size: $main-heading * 1.25;
		}	
	}

	.modal {
		.modal__content {
			left: 25%;
			width: 50%;
		}
	}

}