// Fonts
//TODO
	//Convert font types
	//Logo size/styling

	// TODO BOX SHADOWS

// TODO - Team component styling
@font-face {
	font-family: "Iceland";
	src: url("./assets/fonts/Iceland/Iceland-Regular.ttf");
}

@font-face {
	font-family: "Jura";
	src: url("./assets/fonts/Jura/Jura-Regular.ttf");
	src: url("./assets/fonts/Jura/Jura-SemiBold.ttf");
}

// Variables

// Colors
$primary: #FFF;
$secondary: #F2D72D;
$danger: #9F1E00;
$warning: #C46A11;
$gray: #CDCDCD;
$black: #1B1C20;

// Fonts
$main-header-font: "Iceland", "Courier", serif;
$sans-font: "Jura", "Courier", sans-serif;
 
// Size
$sub-heading: 1.5em;
$inputFontSize: 1.5em;

// Dimensions

$padding: 1em;
$margin: .5em;

// List item mixin/placeholder

// Extends/placeholders

%input-text {
	display: block;
	margin: $margin / 1.25 0 $margin * 2;

	box-sizing: border-box;
	border-radius: 5px;
	padding: $padding / 3;
		width: 100%;

	font-family: $sans-font;
	font-size: $inputFontSize;
}

%h2 {
	margin-bottom: $margin;

	color: $primary;
	font-size: $sub-heading * 2;
}

// Mixins

@mixin button($bgColor) {
	display: block;

	box-sizing: border-box;
	margin: $margin 0 $margin * 4;
	padding: $padding $padding / 4;
	width: 100%;

	background-color: $bgColor;
	border: none;
	border-radius: 5px;
	box-shadow: 1.5px 3px 3px $black;

	color: $black;
	font-family: $sans-font;
	font-size: 1em;
	text-align: center;
}

// Body styling
body {
	min-height: 100vh;

	background-image: linear-gradient($black, transparent 150%),
		url("./assets/images/app-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

// Container styling

.container {
	padding: $padding * 1.5;
}

// Generics - towards top to be overriden

// Anchors

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	font-family: $sans-font;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

// Headings 

h1, h2 {
	font-family: $main-header-font;
	text-align: center;
}

// Button generic styling

.btn {
	@include button($primary);
	&:active {
		position: relative;
		top: 3px;
	}
	&:disabled {
		background-color: $gray;
		opacity: 0.4;

		color: $black;
	}
	&[type="submit"] {	
		// ios override
		-webkit-appearance: none;
	}
}

.btn--progress {
	@include button($secondary);
}

.btn--danger {
	// TODO add props to mixin
	@include button($danger);

	margin-bottom: $margin * 2;
	margin-left: auto;
	padding: $padding / 2;
	width: auto;

	color: $primary;
}

// Header styling
.header {
	padding: $padding;

	.header__main-heading {
		margin: 0;

		color: $primary;
		font-size: 4em;

		span {
			color: $secondary;
		}
	}	
}

// landing styling

.landing {
	margin-top: $margin * 5;
	padding: $padding;
	.landing__heading {
		color: $primary; 
		font-size: $sub-heading;
	}
	.landing__text {
		margin-bottom: 0;

		color: $primary;
		font-family: $sans-font;
		text-align: center;
	}
}

// Add player section

.players {
	// Add players form
	.players__add-section {
		.players__info {
			margin-top: $margin;
			padding: $padding / 2;

			background-color: $warning;

			color: $primary;
			text-align: center;
		}
		.players__info--lg {
			display: none;
		}
	}
	.players__heading {
		@extend %h2;
	}

	form {
		.input--text {
			@extend %input-text;
		}
		.rating-buttons {
			.rating-buttons__text {
				margin-bottom: 0;

				color: $primary;
				font-family: $main-header-font;
				font-size: 1.5em;
				text-align: center;
			}
			.div__input--radio {
				display: inline-block;

				width: 33.3%;
			}
		}
		.input--radio {
			display: none;
			
			&:checked + .label--radio {
				background-color: $gray;
			}			
		}
		//TODO border radius
		.label--radio {
			display: block;

			box-sizing: border-box;
			margin: $margin 0 $margin * 2;
			padding: $padding;

			font-family: $sans-font;
			text-align: center;

			background-color: $primary;
		}
	}
}

// Players List

//TODO Button styling 
//TODO CLASS NAMING?
// TODO rename ratings and make a mixin/placeholder
.players__list-section {
	.players__heading {
		@extend %h2;
	}

	.players__info {
		margin-top: $margin;
		padding: $padding / 2;

		background-color: $warning;

		color: $primary;
		text-align: center;
	}
	.player-list {
		margin-top: 0;
		.player-list__item {
			position: relative;

			margin: $margin 0;
			padding: $padding / 1.5;

			background-color: $primary;
			border-radius: 5px;
			box-shadow: 1.5px 3px 3px $black;

			font-family: $sans-font;
			font-size: 1.25em;
			.ratings {
				.ratings__star {
					display: inline-block;
					height: 15px;
					margin-top: $margin / 2;
					width: 15px;

					background-image: url("./assets/images/icons/star.png");
					background-size: cover;
				}
			}
			.player-list__item__button--delete {
				position: absolute;
				right: $padding;
				top: calc(50% - 10px);

				height: 20px;
				width: 20px;

				background-image: url("./assets/images/icons/delete.png");
				// Prevents iPad and iPhone image clip bug
				background-size: 90%; 
				background-repeat: no-repeat;
			}
		}
	}
}

// Team section

.team {
	.team__heading {
		@extend %h2;
		margin-top: 0;
		margin-bottom: $margin / 4;

		font-size: 3.5em;
	}
	.team__button--edit {
		display: block;

		margin: $margin * 4 0;
		width: 100%;

		color: $primary;
		text-align: center;

		.team__button__text {
			display: inline-block;

			margin-top: .5em;

			text-decoration: underline;
		}

	}
	// TODO RATINGS PLACEHOLDER
	.ratings {
		text-align: center;
		.ratings__text {
			color: $primary;
			font-family: $sans-font;
			font-size: 1em;
		}
		.ratings__star {
			display: inline-block;
			height: 15px;
			margin-top: $margin / 2;
			width: 15px;

			background-image: url("./assets/images/icons/star.png");
			background-size: cover;
		}
	}
	// TODO style formation better for sm devices
	.team__formation {
		.pitch {
			position: relative;

			// border: 3px solid $primary;
			min-height: 33.3vh;
			margin: $margin * 2 auto;
			max-width: 450px;
 
			// background-color: $black;
			background-image: url("./assets/images/pitch.png"); 
			background-size: 100% 96%;
			background-repeat: no-repeat;
		}
		.pitch__player {
			position: absolute;
			.pitch__player__name {
				display: block;

				width: 100px;

				color: $primary;
				font-family: $sans-font;
				text-align: center;
			}
		}
		.pitch__player-0 {
			top: 	5%;
			left: calc(50% - 50px);
		}
		.pitch__player-1 {
			top: 	calc(40% - 10px);
			left: calc(50% - 50px);
		}
		.pitch__player-2 {
			bottom: 20%;
			left: calc(50% - 50px);
		}
		.pitch__player-3 {
			top: 	calc(50% - 10px);
			left: 0%;
		}
		.pitch__player-4 {
			top: 	calc(50% - 10px);
			right: 0%;
		}
	}
	form {
		.input--text {
			@extend %input-text;
			margin-top: $margin * 3;
		}
	}
}


// Navigation

// Footer

.footer-nav {
	display: flex;
	justify-content: space-between;

	.footer-nav__link:first-child {
		margin-right: $margin * 2;
	}
}

.page-not-found {
	.page-not-found__message {
		color: $primary;	
		font-size: 1.25em;
		text-align: center;
	}
	.page-not-found__link {
		color: $secondary;
		text-decoration: underline;
	}
}

// Modal
// TODO SET MAX WIDTH

.modal {
	position: fixed;
	top: 0;
	left: 0;

	min-height: 100vh;
	min-width: 100vw;

	z-index: 10;

	.modal__overlay {
		position: absolute;
		top: 0;
		left: 0;

		min-height: 100vh;
		min-width: 100vw;

		background-color: $black;
		opacity: 0.95;

		z-index: 15;
	}

	.modal__content {
		position: absolute;
		top: calc(50% - 25px);
		left: 10%;

		width: 80%;
		z-index: 20;

		.modal__message {
			color: $primary;
		}
	}
}

@media (min-width: 768px) {
	.container { 
		margin: 0 auto;
		width: 70%;
	}

	.header {
		.header__main-heading {
			font-size: 4em;
		}	
	}

	.player-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.player-list__item {
			flex: 1 0 45%;

			box-sizing: border-box;
			&:nth-of-type(odd) {
				margin: $margin $margin * 2 $margin 0; 
			}
			&:last-of-type() {
				margin: $margin 0 $margin 0; 
			}
		}
	}

	.team {
		.team__formation {
			.pitch {
				.pitch__player-3 {
					left: 10%;
				}
				.pitch__player-4 {
					right: 10%;
				}
			}
		}
	}

	.landing {
		.landing__heading {
			font-size: $sub-heading * 1.5;
		}
	}

	.modal {
		.modal__content {
			left: 20%;
			width: 60%;
		}
	}
}

@media (min-width:992px) {
	.container {
		width: 60%;
	}

	.header {
		margin-top: $margin * 3;

		.header__main-heading {
			font-size: 5em;
		}	
	}

	.modal {
		.modal__content {
			left: 25%;
			width: 50%;
		}
	}

}

@media (min-width: 1200px) {

	.container {
		max-width: 800px;
		width: 70%;
	}

	.header {
		margin-top: 0;

		.header__main-heading {
			font-size: 4em;
		}	
	}
	.landing {
		margin: $margin * 15 auto 0;
		width: 75%;
		.landing__heading {
			font-size: $sub-heading * 2;
		}
		.landing__text {
			margin-bottom: 0;
		}
	}

	.players {
		overflow: auto;
		.players__heading {
			font-size: 2.5em;
		}
		.container-players__info--sm-md {
			display: none;
		}
		.players__add-section {
			float: left;

			box-sizing: border-box;
			padding: 0 $padding * 2 $padding * 2;
			width: 50%;

			.players__info--lg {
				display: block;

				padding: $padding / 2;

				background-color: $warning;

				xcolor: $primary;
				text-align: center;
			}
		}
		.players__list-section {
			float: left;

			box-sizing: border-box;
			padding: 0 $padding * 2 $padding * 2;
			width: 50%;

			.name--small {
				font-size: .8em;
			}

			.player-list--full {
				align-items: flex-start;
				align-content: flex-start;

				padding: 0;
				.player-list__item:first-child {
					margin-top: 0;
				}
				.player-list__item:nth-child(2) {
					margin-top: 0;
				}
			}
		}
	}

	.team {
		.players__list-section {
			.player-list {
				padding: 0 $padding * 2;
			}
		}

	}
	.footer-nav {
		padding: 0 $padding * 2;
		.footer-nav__link:first-child {
			// margin-right: $margin * 8;
		}
	}

	.modal {
		.modal__content {
			left: 33.3%;
			width: 33.3%;
		}
	}
}
