.btn {
	@include button($primary);
	&:active {
		position: relative;
		top: 3px;
	}
	&:disabled {
		@include linear-gradient($gray, $black, 300%);
		opacity: 0.4;

		color: $black; 
	}
	&:hover:enabled {
		transition: all .5s;

		@include linear-gradient($primary, $black, 300%);

		letter-spacing: .1em;

	}
	&[type="submit"] {	
		// ios override
		-webkit-appearance: none;
		cursor: pointer;
	}
}

.btn--progress {
	@include button($secondary);
	&:hover:enabled {
		transition: all .5s;

		@include linear-gradient($secondary, $black, 300%);

		letter-spacing: .1em;

	}
}

.btn--danger {
	@include button($danger);

	margin-bottom: $margin * 2;
	margin-left: auto;
	padding: $padding / 2;
	min-width: 138.06px;
	width: auto;

	color: $primary;
	&:hover:enabled {
		transition: all .5s;

		@include linear-gradient($danger, $black, 200%);

		font-weight: bold;
	}
}

.btn--action {
	@include button($pitchGreen);

	color: $primary;

	&:hover:enabled {
		transition: all .5s;

		@include linear-gradient($pitchGreen, $black, 200%);

	}
}