@mixin button($bgColor) {
	display: block;

	box-sizing: border-box;
	margin: $margin 0 $margin * 4;
	padding: $padding $padding / 4;
	width: 100%;

	background-color: $bgColor;
	border: none;
	border-radius: $border-radius;
	@extend %box-shadow;

	color: $black;
	font-family: $sans-font;
	font-size: $sans-font-size * .9;
	text-align: center; 
}