%input-text {
	display: block;
	margin: $margin / 1.25 0 $margin * 2;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: $border-radius;
	padding: $padding / 3;
		width: 100%;

	font-family: $sans-font;
	font-size: $input-font-size;
}

%h2 {
	margin-bottom: $margin;
	color: $primary;
	font-size: $sub-heading;
	letter-spacing: $letter-spacing;
}

%star {
	display: inline-block;
	height: 15px;
	margin-top: $margin / 2;
	width: 15px;

	background-image: url("./assets/images/icons/star.png");
	background-size: cover;
}

%info {
	margin-top: $margin;
	padding: $padding / 2;

	color: $primary;
	text-align: center;

	background-color: $warning;
	border-radius: $border-radius;
}

%box-shadow {
	-webkit-box-shadow: 1.5px 3px 3px $black;
	box-shadow: 1.5px 3px 3px $black;
}

%btn-inset-box-shadow {
	-webkit-box-shadow: 1.5px 3px 3px inset $black;
	box-shadow: 1.5px 3px 3px inset $black;
}

%slider {
	display: block;

	width: 65%;

	background-color: transparent;
	// Remove default webkit appearance
	-webkit-appearance: none;
	&:hover {
		cursor: pointer;
	}
	//Styles track
	&::-webkit-slider-runnable-track {
	  border: 1px solid $black;
	  height: 24px;
	  width: 100%;
	  
	  box-shadow: 1px 1px 1px $black;
	  background: $primary;
	  border-radius: $border-radius;

	  cursor: pointer;
	}
	&::-webkit-slider-thumb {
	  border: 1px solid $black;
	  height: 36px;
	  margin-top: -7px; 
	  width: 20px;

	  border-radius: $border-radius;
	  background: $secondary;
	  box-shadow: 1px 1px 1px $black;

	  cursor: pointer;
	  -webkit-appearance: none;
	}
	//Styles track
	&::-moz-range-track {
	  border: 1px solid $black;
	  height: 24px;
	  width: 100%;
	 
	  box-shadow: 1px 1px 1px $black;
	  background: $primary;
	  border-radius: $border-radius;

   	cursor: pointer;
	}
	&::-moz-range-thumb {
	  border: 1px solid $black;
	  height: 36px;
	  width: 20px;

	  background: $secondary;
	  border-radius: $border-radius;
	  box-shadow: 1px 1px 1px $black;

	  cursor: pointer;
	}
	//Styles track
	&::-ms-track {
	  height: 24px;
	  width: 100%;
	  
	  background: transparent;
	  border-color: transparent;
	  color: transparent;

	  cursor: pointer;
	}
	// Fills < thumb part of track
	&::-ms-fill-lower {
	  border: 1px solid $black;

	  background: $primary;
	  border-radius: 10px;
	  box-shadow: 1px 1px 1px $black;
	}
	// Fills > thumb part of track
	&::-ms-fill-upper {
	  border: 1px solid $black;

	  background: $primary;
	  border-radius: 10px;
	  box-shadow: 1px 1px 1px $black;
	}
	&::-ms-thumb {
	  border: 1px solid $black;
	  height: 36px;
	  margin-top: 1px;
	  width: 20px;

	  background: $secondary;
	  border-radius: $border-radius;
	  @extend %box-shadow;

	  cursor: pointer;
	}
	// Fills < thumb part of track
	&:focus::-ms-fill-lower {
	  background: $primary;
	}
	// Fills > thumb part of track
	&:focus::-ms-fill-upper {
	  background: $primary;
	}
	// Styles track on focus
	&:focus::-webkit-slider-runnable-track {
	  background: $primary;
	}
}