%input-text {
	display: block;
	margin: $margin / 1.25 0 $margin * 2;

	box-sizing: border-box;
	border-radius: 5px;
	padding: $padding / 3;
		width: 100%;

	font-family: $sans-font;
	font-size: $input-font-size;
}

%h2 {
	margin-bottom: $margin;

	color: $primary;
	font-size: $sub-heading;
	letter-spacing: $letter-spacing;
}

%star {
	display: inline-block;
	height: 15px;
	margin-top: $margin / 2;
	width: 15px;

	background-image: url("./assets/images/icons/star.png");
	background-size: cover;
}

%info {
	margin-top: $margin;
	padding: $padding / 2;

	background-color: $warning;

	color: $primary;
	text-align: center;
}

%box-shadow {
	box-shadow: 1.5px 3px 3px $black;
}

%slider {
	display: block;

	width: 65%;

	background-color: transparent;
	-webkit-appearance: none;
	&:hover {
		cursor: pointer;
	}
	&::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 24px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px $black;
	  background: $primary;
	  border-radius: 5px;
	  border: 1px solid $black;
	}
	&::-webkit-slider-thumb {
	  box-shadow: 1px 1px 1px $black;
	  border: 1px solid $black;
	  height: 36px;
	  width: 20px;
	  border-radius: 5px;
	  background: $secondary;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -7px; 
	}
	&::-moz-range-track {
	  width: 100%;
	  height: 24px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px $black;
	  background: $primary;
	  border-radius: 5px;
	  border: 1px solid $black;
	}
	&::-moz-range-thumb {
	  box-shadow: 1px 1px 1px $black;
	  border: 1px solid $black;
	  height: 36px;
	  width: 20px;
	  border-radius: 5px;
	  background: $secondary;
	  cursor: pointer;
	}
	&::-ms-track {
	  width: 100%;
	  height: 24px;
	  cursor: pointer;
	  animate: 0.2s;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	&::-ms-fill-lower {
	  background: $primary;
	  border: 1px solid $black;
	  border-radius: 10px;
	  box-shadow: 1px 1px 1px $black;
	}
	&::-ms-fill-upper {
	  background: $primary;
	  border: 1px solid $black;
	  border-radius: 10px;
	  box-shadow: 1px 1px 1px $black;
	}
	&::-ms-thumb {
	  margin-top: 1px;
	  box-shadow: 1px 1px 1px $black;
	  border: 1px solid $black;
	  height: 36px;
	  width: 20px;
	  border-radius: 5px;
	  background: $secondary;
	  cursor: pointer;
	}
	&:focus::-ms-fill-lower {
	  background: $primary;
	}
	&:focus::-ms-fill-upper {
	  background: $primary;
	}
	&:focus::-webkit-slider-runnable-track {
	  background: $primary;
	}
}