// Colors
$primary: #FFF;
$secondary: #F2D72D;
$danger: #9F1E00;
$warning: #C46A11;
$gray: #CDCDCD;
$black: #1B1C20;
$pitch: hsla(119, 50%, 20%, 0.7);

// Fonts
$main-header-font: "Cabin", "Courier", serif;
$sans-font: "Cabin", "Courier", sans-serif;
 
// Size
$main-heading: 4em;
$sub-heading: 1.5em;
$input-font-size: 1.5em; 
$sans-font-size: 1.25em;
$letter-spacing: .1em;

// Dimensions
$padding: 1em;
$margin: .5em;
$landing-margin: 20vh;
$border-radius: 5px;